<title>Roomedy - Invitation</title>

<div class="jumbotron">
<span class="glyphicon glyphicon-menu-left" style="font-size: .8em;" aria-hidden="true"></span> 
<%= link_to "Back to House", House.find(current_user.relationship.house_id)%>
  
<% if logged_in? %>
  <h4> Your invitation link: </h4>
  <input type="text" onClick="this.select();" style="background-color:white;" class="form-control" value="<%= request.base_url + @invitation.url %>" readonly>
      

    </pre>
  </div>
    
<% else %>
    You must be logged in to create an invitation.
<% end %>
</div>