<title> Roomedy </title>

<h1>Roomedy</h1>

<h2>This is the homepage for Roomedy, CS 307 Team 17's Project!</h2>

<%= link_to "Create a User", new_user_path %></br>
<%= link_to "Create a House",  new_house_path %>
