<!DOCTYPE html>
<html>
  <head>
    <meta context="text/html; charset=UTF-8" http-equiv='Context-Type' />
  </head>
  <body>
    <h2>Welcome to Roomedy, <%= @user.name %></h2>
    <p>
      Thanks for signing up for Roomedy! <br/>
      To get started on Roomedy, 
      click <a href="<%= @return_url %>">here!</a>
    </p>
  </body>
</html>