<!DOCTYPE html>
<html>
  <head>
    <meta context="text/html; charset=UTF-8" http-equiv='Context-Type' />
  </head>
  <body>
    <h2><%= @user.name %>, has invited you to Roomedy!</h2>
    <% if @optional_message.length > 0 %>
    <p>
      <%= @optional_message %>
    </p>
    <% end %>

    <p>
      To accept this invitation and create an account on Roomedy, 
      click <a href="<%= @invite_url %>">here!</a>
    </p>
  </body>
</html>