<title> Roomey </title>

<% if !logged_in? %>
    <div class="jumbotron", align="center">
        <h1>Roomey</h1>
        <h2>This is the homepage for Roomey, CS 407 Team 17's Project!</h2>
        <%= link_to "Create Account", new_user_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Login",  login_path, class: "btn btn-primary btn-lg" %>
<% else %>
    <div class="jumbotron">
      <h1>Welcome to Roomey, <%= current_user.name %>!</h1>
      <% if current_user.relationship.nil? %>
      	<%= link_to "Create a House", new_house_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
<% end %>
