<title> Roomedy </title>

<h1> Noteboard </h1>
<p> This is where our noteboard will be </p>

<div class="js-list list-wrapper">
  <div class="list js-list-content">
    <div class="list-header js-list-header">
      <h2 class="list-header-name js-list-name current text-align">Notes Board</h2>
    </div>
    <div class="notesdisplay">

    </div>
    <TR>
    <TD>Message:	</TD>
    <TD><INPUT TYPE="text" NAME="username"></TD>
    </TR>

    <P><INPUT TYPE="submit" VALUE="Submit" NAME="submit"></P>

  </div>

</div>
