<title> Roomedy </title>

<h1> Sign Up Page </h1>
<p> This will be the page for account creation </p>

<br/>
<h1>Register</h1>
<form name="register_form">

<FORM METHOD="POST">
<TABLE BORDER="0">

<TR>
<TD>Name:	</TD>
<TD><INPUT TYPE="text" NAME="name"></TD>
</TR>

<TR>
<TD>Password:	</TD>
<TD><INPUT TYPE="password" NAME="password_signup"></TD>
</TR>

<TR>
<TD>Confirm Password:	</TD>
<TD><INPUT TYPE="password" NAME="password_confirm"></TD>
</TR>

<TR>
<TD>Email:	</TD>
<TD><INPUT TYPE="email" NAME="email"></TD>
</TR>

<TR>
<TD>Number:	</TD>
<TD><INPUT TYPE="text" NAME="phone_number"></TD>
</TR>

<TR>
<TD>Address:	</TD>
<TD><INPUT TYPE="text" NAME="address"></TD>
</TR>

</TABLE>

<br/>

<P><INPUT TYPE="submit" VALUE="Submit" NAME="submit"></P>

</FORM>


