// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

body {
}

textarea {
    color: #000;
    font: inherit;
    margin: 0;
}

h21 {
    color: #fff;
    font-size: 3em;
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

h31 {
    color: #fff;
    font-size: 3em;
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.section_overlay {
    background: rgba(250,250,250, .5);
}

.section_overlay-notrans {
    background: rgba(250,250,250, 0);
}

.home-header {
  background-image: url("header_bg.jpg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed !important;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-attachment: fixed !important;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
}

.signup-header{
  background-image: url("colorful-door.jpg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed !important;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-attachment: fixed !important;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
}

section {
    padding: 2em 1em;
}
section {
    overflow: hidden;
    padding: 0 1em;
    word-wrap: break-word;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.fun_facts {
    background-image: url("header_bg.jpg");
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: fixed !important;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-attachment: fixed !important;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
}

.fun_facts .section_overlay {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(71, 71, 71, 0.8);
    padding-bottom: 30px;
}

.style_image {
  border-right: 1px solid #000;
  width: 62px;
  height: 15px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.btn-custom {

	color: #0a8fd5;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #383838;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
}

.dropdown-font {
    text-decoration: none;
    color: #fff;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open > .dropdown-menu {
    display: block;
    left: 0px;
}

.dropdown-font {
    color: #fff;
}

.dropdown-font:hover {
    text-decoration: none;
    color: #fff;
}

.dropdown-menu-nohouse {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open > .dropdown-menu-nohouse {
    display: block;
    left: 85px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.list-wrapper:first-child {
    margin-left: 10px;
}
.list-wrapper {
    width: 100%;
    margin: 0 5px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.list {
    background: #e2e4e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
}

.calendar-day, .list {
    -moz-box-sizing: border-box;
}

.list-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 34px 8px 10px;
    position: relative;
    min-height: 19px;
}

.section-wrapper {
    max-width: 540px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
    height: 250px;
    width: 250px;
}

.caro-img {
  width: 265px;
  height: 166px;
  vertical-align: middle;
}

.av1 {
    height: 88px;
    width: 88px;
    background: url("av01.png") no-repeat;
    background-position: 0px 0px;
    margin: -55px auto;
    position: relative;
}

.av2 {
    height: 88px;
    width: 88px;
    background: url("av02.png") no-repeat;
    background-position: 0px 0px;
    margin: -55px auto;
    position: relative;
}

.av3 {
    height: 88px;
    width: 88px;
    background: url("av03.png") no-repeat;
    background-position: 0px 0px;
    margin: -55px auto;
    position: relative;
}

.av4 {
    height: 88px;
    width: 88px;
    background: url("av04.png") no-repeat;
    background-position: 0px 0px;
    margin: -55px auto;
    position: relative;
}

.av5 {
    height: 88px;
    width: 88px;
    background: url("av01.png") no-repeat;
    background-position: 0px 0px;
    margin: -55px auto;
    position: relative;
}

.av6 {
    height: 88px;
    width: 88px;
    background: url("av02.png") no-repeat;
    background-position: 0px 0px;
    margin: -55px auto;
    position: relative;
}

.center {
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

.notesdisplay {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.editable .current, .pop-over-ad, .tooltip-trigger {
    cursor: pointer;
}
.list-header-name {
    display: inline;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    min-height: 19px;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.navbar_brand {
    position: relative;
    top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    color: #777;
}

.navbar_brand:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
}

.header {
    position: fixed;
        height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background: #3B5998;
    z-index: 99;
    border-bottom: 1px solid #4C5798;
    color: #fff;
    text-shadow: 0 -1px 0 #39a385;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.login_links {
    position: absolute;
    top: 5px;
    right: 70px;
}

.btn-login {
    background: #FF9500;
    color: #fff;
}

.btn-sigout {
    background: #0BD318;
    color: #fff;
}

.btn-house {
    background: #3B5998;

}

.btn-inventory {
    background: #3B5998;

}
.btn-financial {
    background: #3B5998;

}

.btn-noteboard {
    background: #3B5998;

}

.btn-schedule {
    background: #3B5998;

}

.btn-profile {
    background: #3B5998;

}

.btn-account {
    background: #3B5998;
}

.btn:hover {
    background: #3B5998;
    text-decoration: none;

}

.btn-sigout:hover {
    background: #0BD318;
    text-decoration: none;
    color: #fff;
}

.btn-login:hover {
    background: #FF9500;
    text-decoration: none;
    color: #fff;
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

.notes {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.message {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;

	.message-title {
		font-size: 1.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.message:nth-child(4n) {
	clear: left;
}

/* Message show-page styles */

.message-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.message-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}


/* Comment styles */

.comment {
	border-bottom: 1px;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}

.carousel {
  height: 406px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.carousel-content {
    text-align: left;
    padding: 10px 25px;
    border-left: solid 1px #dbe1e7;
    border-right: solid 1px #dbe1e7;
    border-bottom: solid 1px #dbe1e7
}

.carousel-content h3, .text-inter h3 {
    color: #737c85;
    font-size: 21px;
    padding-top: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.overlay {
    height: 100%;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0px;
    opacity: 0;
    border: solid 5px #63c6ae;
}

.overlay:hover {
  opacity: 1;
}

ul.icon_list a {
    display: inline-block;
    color: #636363;
    border: 1px solid #636363;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    transition: all 1s;
}

.logo {
  align:center;
  margin-top: 70px;
}

.login-logo {
  width: 100px;
  height: 100px;
  margin-left: 600px;
}

.house-header{
  background-color: #C63D0F;
}

#wraper {
    border-color: #c6c6c6;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

#wraper {
    border-width: 1px;
    border-style: solid;
    margin: 50px auto;
    width: 1230px;
}

.border-bottom {
    border-bottom-color: #ededed;
}

.padding-block {
    padding-top: 48px;
    padding-bottom: 48px;
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.foto {
    border-radius: 50%;
    border-color: #6e6e6e;
    border-width: 1px;
    border-style: solid;
    width: 232px;
    height: 232px;
    overflow: hidden;
    display: inline-block;
}

.block-grey {
    background-color: #fdfdfd;
    border-color: #dfdfdf;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 30px;
}

.block-grey table td {
    line-height: 16px;
    padding-bottom: 18px;
}

.font-weight-m {
    font-weight: 500;
}
