// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

body {
    padding-top: 130px;
}

textarea {
    color: #000;
    font: inherit;
    margin: 0;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

section {
    padding: 2em 1em;
}
section {
    overflow: hidden;
    padding: 0 1em;
    word-wrap: break-word;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.dropdown-font {
    color: #fff;
}

.dropdown-font:hover {
    text-decoration: none;
    color: #fff;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open > .dropdown-menu {
    display: block;
    left: 428px;
}

.dropdown-font {
    color: #fff;
}

.dropdown-font:hover {
    text-decoration: none;
    color: #fff;
}

.dropdown-menu-nohouse {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.open > .dropdown-menu-nohouse {
    display: block;
    left: 85px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.list-wrapper:first-child {
    margin-left: 10px;
}
.list-wrapper {
    width: 100%;
    margin: 0 5px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.list {
    background: #e2e4e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
}

.calendar-day, .list {
    -moz-box-sizing: border-box;
}

.list-header.editable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.list-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 34px 8px 10px;
    position: relative;
    min-height: 19px;
}

.section-wrapper {
    max-width: 540px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
    height: 150px;
}

.center {
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

.notesdisplay {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.editable .current, .pop-over-ad, .tooltip-trigger {
    cursor: pointer;
}
.list-header-name {
    display: inline;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    min-height: 19px;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.navbar_brand {
        position: relative;
        top: 20px;
        left: 50px;
    padding: 18px 18px;
    font-size: 30px;
    color: #fff;
}

.navbar_brand:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header {
    position: fixed;
        height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background: #3B5998;
    z-index: 99;
    border-bottom: 1px solid #4C5798;
    color: #fff;
    text-shadow: 0 -1px 0 #39a385;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.login_links {
    position: absolute;
    top: 20px;
    right: 70px;
}

.btn-login {
    background: #1BB33F;
    color: #fff;
}

.btn-sigout {
    background: #ff652f;
    color: #fff;
}

.btn-house {
    background: #3B5998;
    color: #fff;
}

.btn-inventory {
    background: #3B5998;
    color: #fff;
}
.btn-financial {
    background: #3B5998;
    color: #fff;
}

.btn-noteboard {
    background: #3B5998;
    color: #fff;
}

.btn-schedule {
    background: #3B5998;
    color: #fff;
}

.btn-profile {
    background: #3B5998;
    color: #fff;
}

.btn:hover {
    background: #3B5998;
    text-decoration: none;
    color: #fff;
}

.btn-sigout:hover {
    background: #ff5216;
    text-decoration: none;
    color: #fff;
}

.btn-login:hover {
    background: #1BB33F;
    text-decoration: none;
    color: #fff;
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

.message {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;

	.message-title {
		font-size: 1.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.message:nth-child(4n) {
	clear: left;
}

/* Message show-page styles */

.message-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.message-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}


/* Comment styles */

.comment {
	border-bottom: 1px;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}

.btn-custom {
	background-color: #fff;
	color: #0a8fd5;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;
}
