<% obj.permissions.each do |perm| %>
  <% next if perm.level == 0 %>
  <%= f.fields_for perm, index: perm.id do |perm_form| %>
    <% if perm.user_id != 0 %>
      <% @permuser = User.find(perm.user_id)   %>
      <% if type != 1 || perm.level != 3 %>
        <%= render 'permission', f: perm_form, user: @permuser, type: type %>
      <% else %>
        <p><br\><%= @permuser.name %> is attending<br\></p>
      <% end %>
    <% else %>
    <% User.new(id: 0) do |user| %>
      <%= render 'permission', f: perm_form, user: user, type: type %>
      <% end %>
    <% end %>
  <% end %>
<% end %>